.big-shoulders {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
    font-family: "Big Shoulders", sans-serif;
    color: hsl(0, 0%, 95%);
    margin: 35px 0px 15px 0px;
    font-size: 39px;
}
p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
body {
    margin: auto;
    padding: 0px;
    background-color: hsl(0, 0%, 95%);
    align-items: center;
}
.container {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
}
.items-box {
    display: flex;
    flex-direction: column;
    padding: 45px 50px 47px 40px;
    min-width: 220px;
    max-width: 220px;
    height: 425px;
    justify-content: space-between;
    align-items: flex-start;
}
.items-box1 {
    border-radius: 10px 0 0 13px;
}
.items-box3 {
    border-radius: 0 10px 10px 0;
}
.text-box {
    max-width: 225px;
    line-height: 25px;
    margin: 0px 15px 60px 2px;
}
img {
    width: 64px;
    margin: 2px 0px 0px 2px;
}
.learnmore {
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
    padding: 15px 37px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    border: 0;
    margin: 10px 0px 2px 0px;
}
.lm1 {
    color: #E28525;
}
.lm2 {
    color: #016972;
}
.lm3 {
    color: #00403F;
}